<div style="background-color: black; padding: 35px">
  <h1 style="text-align: center; color: white">
    CHAT MPV
  </h1>
</div>
<p style="font-size: 22px; font-weight: 600; padding: 25px">Chat Box:</p>
<div id="div-msgs" style="background-color: rgb(50, 90, 47); color: white; padding: 20px; margin: auto; width: 98%">
  Loading...
</div>
<br /><br />
<div>
  <input id="input-msg" style="padding: 15px; width: 30%; margin: 0px 20px" placeholder="Ingrese mensaje..." type="text" value="" />
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/test-chat.js"></script>